<%- include("partials/header") -%>

<h2>About</h2>

<p>This is a simple "To Do List" which includes a work list thorught the "/work" route.<br>
    Developed using NodeJS, ExpressJS, EJS, & MongoDB with MongooseJS.
</p>

<%- include("partials/footer") -%>
